@inject SignInManager<AppUser> signInManager;
@model sahib.az.WebApplicationUI.Models.Entity.Perfume

@{
    ViewData["Title"] = "Cavablandırma sistemi";
}

@section css{
    <link rel="stylesheet" href="Assets/CSS/answer-system.min.css" />
}

<header id="add-admin-header">
    <nav id="add-admin-nav">
        <div class="container add-admin-nav-container">
            <div class="row">
                <div class="col-6 add-admin-nav-left">
                    <div class="img-div">
                        <a asp-action="Index" asp-controller="AnswerSystem">
                            <img src="uploads/logos/logo.png" alt="SAHIB">
                        </a>
                    </div>
                </div>
                <div class="col-6 add-admin-nav-right">
                    <ul class="d-flex" style="margin-right: 15px;">
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li style="margin-right: 10px;">
                                <a asp-action="Index" asp-controller="Brands">
                                    Brend
                                </a>
                            </li>
                        }
                        <li style="margin-right: 10px;">
                            <a asp-action="Index" asp-controller="AnswerSystem" style="color:yellow;">
                                Cavablandırma sistemi
                            </a>
                        </li>
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li>
                                <a asp-action="Index" asp-controller="Staff">
                                    İstifadəçilər
                                </a>
                            </li>
                        }
                    </ul>
                    <p>@ViewBag.Username</p>
                    <a asp-action="SignOut" asp-controller="Account">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="container" style="padding: 120px 0 20px 0;">

    <h1 class="text-center">Cavablandırma sistemi - Silmə.</h1>

    <h3 class="text-center">Silmək istədiyinizə əminsinizmi?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-6 text-end">
                Parfüm:
            </dt>
            <dd class="col-6">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-6 text-end">
                Brend:
            </dt>
            <dd class="col-6">
                @Html.DisplayFor(model => model.Brand.Name)
            </dd>
            <dt class="col-6 text-end">
                Növ:
            </dt>
            <dd class="col-6">
                @Html.DisplayFor(model => model.Type.Name)
            </dd>
            <dt class="col-6 text-end">
                ML:
            </dt>
            <dd class="col-6">
                @Html.DisplayFor(model => model.ML)
            </dd>
            <dt class="col-6 text-end">
                Tester?
            </dt>
            <dd class="col-6">
                @Html.DisplayFor(model => model.IsTester)
            </dd>
            <dt class="col-6 text-end">
                Maya:
            </dt>
            <dd class="col-6">
                @Html.DisplayFor(model => model.Maya)
            </dd>
            <dt class="col-6 text-end">
                Satışı:
            </dt>
            <dd class="col-6">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-6 text-end">
                3 ay:
            </dt>
            <dd class="col-6">
                @Html.DisplayFor(model => model.ThreeMonths)
            </dd>
            <dt class="col-6 text-end">
                6 ay:
            </dt>
            <dd class="col-6">
                @Html.DisplayFor(model => model.SixMonths)
            </dd>
            <dt class="col-6 text-end">
                9 ay:
            </dt>
            <dd class="col-6">
                @Html.DisplayFor(model => model.NineMonths)
            </dd>
            <dt class="col-6 text-end">
                12 ay:
            </dt>
            <dd class="col-6">
                @Html.DisplayFor(model => model.TwelveMonths)
            </dd>
            <dt class="col-6 text-end">
                15 ay:
            </dt>
            <dd class="col-6">
                @Html.DisplayFor(model => model.FifteenMonths)
            </dd>
            <dt class="col-6 text-end">
                18 ay:
            </dt>
            <dd class="col-6">
                @Html.DisplayFor(model => model.EighteenMonths)
            </dd>
            <dt class="col-6 text-end">
                Əlavə olunma tarixi:
            </dt>
            <dd class="col-6">
                @Model.CreatedDate.ToString("dd.MM.yyyy HH:mm:ss")
            </dd>
            <dt class="col-6 text-end">
                Yenilənmə tarixi:
            </dt>
            <dd class="col-6">
                @Model.UpdatedDate?.ToString("dd.MM.yyyy HH:mm:ss")
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Sil" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-danger">
                <i class="fas fa-undo-alt"></i> Geriyə
            </a>
        </form>
    </div>
</div>

@section scripts{
    <script src="Assets/JS/answer-system.js"></script>
}